
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section title {
    COLLEGE
}
<script src="~/Assets/User/js/jquery-1.10.2.js"></script>
<script src="~/Assets/User/js/jquery.bxslider.min.js"></script>
<script src="~/Assets/User/js/script.js"></script>
<div>
    <!--Left-->
    <div class="detail-left mgt10">
        <div class="left_box">
        </div>
        <div class="left_box ">
            <div class="select-data wl100">

                <select class="sl_nganh" id="sl_linh_vuc">
                    <option value="">Lựa chọn khu vực</option>
                    <option value="lv2212">Khu vực</option>
                    <option value="lv2214">Công lập</option>
                </select>

                <select class="sl_nganh" id="sl_oder">
                    <option value="">---------Thứ tự hiển thị--------</option>
                    <option value="1">A -> Z</option>
                    <option value="2">Z -> A</option>
                </select>
            </div>

            <!--Left-->
            <div class="w100 list-data" id="lv2212">
                <div class="left_box_title left_box_title_1 left_box_title_2">
                    <span><a href="https://tuyensinhso.vn/c2212/khu-vuc.html">Khu vực</a></span>
                </div>

                <div class="list-news list-group" id="lv1-nn1">

                    <a href="https://tuyensinhso.vn/khu-vuc/khu-vuc-da-nang-c11808.html">
                        <span>ĐH - HV Khu vực Đà Nẵng</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/khu-vuc/dh-hv-khu-vuc-tphcm-c11806.html">
                        <span>ĐH - HV Khu vực TP.HCM</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/khu-vuc/khu-vuc-ha-noi-c11804.html">
                        <span>ĐH - HV Khu vực Hà Nội</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/khu-vuc/khu-vuc-mien-nam-c11802.html">
                        <span>ĐH - HV Khu vực Miền Nam</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/khu-vuc/khu-vuc-mien-trung-c11800.html">
                        <span>ĐH - HV Khu vực Miền Trung</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/khu-vuc/khu-vuc-mien-bac-c11798.html">
                        <span>ĐH - HV Khu vực Miền Bắc</span>
                        <span></span>

                    </a>

                </div>
            </div>

            <div class="w100 list-data" id="lv2214">
                <div class="left_box_title left_box_title_1 left_box_title_2">
                    <span><a href="https://tuyensinhso.vn/c2214/cong-lap.html">Công lập</a></span>
                </div>

                <div class="list-news list-group" id="lv1-nn1">

                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-tp-hcm-c14110.html">
                        <span>ĐH - HV Công lập khu vực TP. HCM</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-da-nang-c13956.html">
                        <span>ĐH - HV Công lập khu vực Đà Nẵng</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-ha-noi-c13954.html">
                        <span>ĐH - HV Công lập khu vực Hà Nội</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-mien-nam-c13952.html">
                        <span>ĐH - HV Công lập khu vực Miền Nam</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-mien-trung-c13950.html">
                        <span>ĐH - HV Công lập khu vực Miền Trung</span>
                        <span></span>

                    </a>
                    <a href="https://tuyensinhso.vn/cong-lap/cong-lap-khu-vuc-mien-bac-c13948.html">
                        <span>ĐH - HV Công lập khu vực Miền Bắc</span>
                        <span></span>

                    </a>

                </div>
            </div>
        </div>
    </div>

    <!--End Left-->
</div>