
@{
    ViewBag.Title = "Index_DC";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section title {
    COLLEGE-Điểm chuẩn
}

<div>
    <div class="detail-left mgt10">
        <div class="left_box ">
            <div class="left_box_title left_box_title_1">
                <span>Điểm chuẩn</span>
            </div>           
            <div class="left_box">
                <div class="list-news">
                    <a href="https://tuyensinhso.vn/diem-chuan/dap-an-mon-toan-ky-thi-thpt-quoc-gia-2018-day-du-24-ma-de-c49487.html">
                        <img alt="Đáp án môn Toán kỳ thi THPT Quốc gia 2018 đầy đủ 24 mã đề" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-dap-an-mon-toan-ky-thi-thpt-quoc-gia-2019-day-du-24-ma-de-1581393607.jpg&h=200&w=300">
                        <b>Đáp án môn Toán kỳ thi THPT Quốc gia 2018 đầy đủ 24 mã đề</b>
                        <span class="no-display-mobile">Chiều 25.6, có 925.790 thí sinh trên cả nước bước vào làm bài thi môn Toán kỳ thi THPT Quốc gia 2018. Tuyển sinh số sẽ liên tục cập nhật liên tục...</span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-truong-dai-hoc-dau-khi-viet-nam-c49468.html">
                        <img alt="Điểm chuẩn Trường Đại học Dầu khí Việt Nam" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-truong-dai-hoc-dau-khi-viet-nam-1581327966.jpg&h=200&w=300">
                        <b>Điểm chuẩn Trường Đại học Dầu khí Việt Nam</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.
                            &nbsp;
                        </span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-truong-dai-hoc-dong-thap-c49465.html">
                        <img alt="Điểm chuẩn Trường Đại học Đồng Tháp" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-truong-dai-hoc-dong-thap-1581325979.jpg&h=200&w=300">
                        <b>Điểm chuẩn Trường Đại học Đồng Tháp</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.
                            &nbsp;
                        </span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-truong-dai-hoc-bac-lieu-c49427.html">
                        <img alt="Điểm chuẩn Trường Đại học Bạc Liêu" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-truong-dai-hoc-bac-lieu-1581129990.jpg&h=200&w=300">
                        <b>Điểm chuẩn Trường Đại học Bạc Liêu</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.
                        </span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-truong-dai-hoc-an-ninh-nhan-dan-c49374.html">
                        <img alt="Điểm chuẩn Trường Đại học An ninh Nhân Dân" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-truong-dai-hoc-an-ninh-nhan-dan-1580979535.jpg&h=200&w=300">
                        <b>Điểm chuẩn Trường Đại học An ninh Nhân Dân</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.

                        </span>
                    </a>

                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-dai-hoc-canh-sat-nhan-dan-c49370.html">
                        <img alt="Điểm chuẩn Đại học Cảnh sát Nhân dân" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-dai-hoc-canh-sat-nhan-dan-1580975080.jpg&h=200&w=300">
                        <b>Điểm chuẩn Đại học Cảnh sát Nhân dân</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.

                        </span>
                    </a>

                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-hoc-vien-hang-khong-viet-nam-c49365.html">
                        <img alt="Điểm chuẩn Học viện Hàng không Việt Nam" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-hoc-vien-hang-khong-viet-nam-1580963714.jpg&h=200&w=300">
                        <b>Điểm chuẩn Học viện Hàng không Việt Nam</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.

                        </span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-hoc-vien-cong-nghe-buu-chinh-vien-thong-co-so-phia-nam-c49357.html">
                        <img alt="Điểm chuẩn Học viện Công nghệ Bưu chính Viễn thông (Cơ sở Phía Nam)" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-hoc-vien-cong-nghe-buu-chinh-vien-thong-co-so-phia-nam-1580958382.jpg&h=200&w=300">
                        <b>Điểm chuẩn Học viện Công nghệ Bưu chính Viễn thông (Cơ sở Phía Nam)</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.

                        </span>
                    </a>
                    <a href="https://tuyensinhso.vn/diem-chuan/diem-chuan-truong-dai-hoc-quoc-te-sai-gon-c49350.html">
                        <img alt="Điểm chuẩn Trường Đại học Quốc tế Sài Gòn" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/large-diem-chuan-truong-dai-hoc-quoc-te-sai-gon-1580953830.jpg&h=200&w=300">
                        <b>Điểm chuẩn Trường Đại học Quốc tế Sài Gòn</b>
                        <span class="no-display-mobile">
                            WikiCollege cập nhật điểm xét tuyển, điểm trúng tuyển của các trường nhanh nhất, đầy đủ nhất.

                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<!--End Left-->
