
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section title {
    WIKI COLLEGE
}

<div class="container-content">
    <!--Left-->
    <div class="detail-left ">
        <div class="left_box">
            <div class="left_box_title">
                <i class="fas fa-file-invoice"></i>
                <a>Tin tức</a>
            </div>
            <div class="list-news list-news-tab active" id="content-tab3067">
                <a href="https://tuyensinhso.vn/ban-tin/tuyen-sinh-2020-thi-sinh-van-tiep-tuc-duoc-dieu-chinh-nguyen-vong-01-lan-sau-khi-biet-diem-tot-nghiep-thpt-c52781.html">
                    
                    <img alt="Tuyển sinh 2020: Thí sinh vẫn tiếp tục được điều chỉnh nguyện vọng 01 lần sau khi biết điểm tốt nghiệp THPT" src="https://tuyensinhso.vn/timthumb.php?src=https://tuyensinhso.vn/images/contents/thumbnail-tuyen-sinh-2020-thi-sinh-van-tiep-tuc-duoc-dieu-chinh-nguyen-vong-01-lan-sau-khi-biet-diem-tot-nghiep-thpt-1589169842.jpg&h=200&w=300">
                    <b>Tuyển sinh 2020: Thí sinh vẫn tiếp tục được điều chỉnh nguyện vọng 01 lần sau khi biết điểm tốt nghiệp THPT</b>
                    <span><i class="far fa-clock"></i> <i>11:04 11/05/2020</i></span>
                    <span class="no-display-mobile">Bộ GD&ĐT đã ban hành quy chế tuyển sinh 2020, không có nhiều thay đổi so với 2019.</span>
                </a>
            </div>
        </div>
    </div>
    <!--End Left-->
    <div class="detail-space"></div>
    <div class="detail-right">
        <div class="right_box">
            <div class="left_box_title">
                <i class="fas fa-comments"></i> <span>Tin Mới</span>
            </div>
            <ul class="right_list_1">
                <li><a href="https://tuyensinhso.vn/ban-tin/cao-dang-y-duoc-sai-gon-mien-100-hoc-phi-cho-hoc-sinh-12-dang-ky-xet-tuyen-truc-tuyen-c52370.html">Cao đẳng Y Dược Sài Gòn miễn 100% kỳ 1 đến 15/9/2020  <img src="~/Assets/User/img/hot.gif" alt="" /></a> </li>
            </ul>
        </div>
    </div>
</div>

